{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} | Registrar {% endblock %}

{% block nav %}
<li class="nav-item col-2">
    <a class="nav-link" aria-current="page" href="/">Consultas</a>
</li>
<li class="nav-item col-1 offset-2">
    <a class="nav-link" aria-current="page" href="/accounts/login">Entrar</a>
</li>
<li class="nav-item col-1 offset-2">
    <a class="nav-link" aria-current="page" href="/about">Sobre</a>
{% endblock %}

{% block content %}
<div class="row row-register">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card-register">
            <div class="card-body">
                <h4 class="card-title text-center">Registrar</h4>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-secondary btn-block">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}