/* Navbar */

.navbar {
    border-bottom: 1px solid #333;
    box-shadow: 0px 0.3px 2.5px 0.1px rgb(54, 54, 54);
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

.navbar-brand{
    margin-top: 10px;
}

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li{
    text-align: center;
    list-style: none;
    color: white;
    background-color: #6c757d;
}

/* Consultas */
.task-list{
    padding: 0;
}

.task-item {
    list-style: none;
}

.empty {
    list-style: none;
    margin-top: 150px;
}

.empty p {
    text-align: center;
    font-style: italic;
}

.card {
    box-shadow: 0.6px 0.6px 2px 0.3px rgb(54, 54, 54);
    margin: 4px 0;
}

.card-body h5 {
    display: inline;
    width: 75px;
    margin-right: 95%;
}

.card-body a{
    color: #6c757d;
}

.card-body a:hover{
    color: black;
}

.area {
    background-color: rgb(248,249,250);
    box-shadow: 0.8px 0.8px 4px 0.5px rgb(54, 54, 54);
    width: 95%;
    height: 715px;
    margin: auto;
    padding: 8px 0;
}

/* Paginação */

.pagination {
    margin: 20px 0;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

.step-links a {
    color: #6c757d;
}

.step-links a:hover{
    color: black;
}

/* Login */

.row-login {
    margin: 0;
}

.auth-card{
    margin: 160px 0 300px 0;
    padding: 0;
}

.auth-card .form-group {
    margin-bottom: 10px;
}

.auth-card .btn {
    margin-top: 20px;
}

/* Register */

.auth-card-register{
    padding: 0;
    margin: 80px 0 120px 0;
}

.row {
    margin: 0!important;
}

/* Sobre */

.area-about {
    background-color: rgb(248,249,250);
    box-shadow: 0.8px 0.8px 4px 0.5px rgb(54, 54, 54);
    width: 95%;
    height: 1500px;
    margin: 20px 38px 60px 32px;
    padding: 25px 20px;
}

.area-about img {
    height: 400px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.area-about h2 {
    font-size: larger;
}

.area-about h3 {
    font-size: large;
    margin-left: 10px;
}

.area-about .formula-area{
    margin-left: 25px;
}

.area-about .formula-area p{
    margin: 5px 0;
}

.area-about .formula-area .formula{
    margin: 20px 0 20px 100px;
    font-style: italic;
    font-size: larger;
}

.text {
    margin-left: 25px;
}


/* Rodapé */

footer {
    background-color: #333;
    height: 100px;
    border-top: 2px solid #202020;

}

footer p {
    color: white;
    text-align: center;
    top: 40%;
    position: relative;
}

footer a {
    text-decoration: none;
    color: rgb(185, 185, 185);
    
}

footer a:hover {
    color: white;
    
}

