{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
{% if user.is_authenticated %}
    <li class="nav-item col-4">
        <a class="nav-link" aria-current="page" href="/">Consultas</a>
    </li>
    <li class="nav-item col-3">
        <a class="nav-link" aria-current="page" href="/accounts/">Sobre</a>
    </li>
    <li class="nav-item col-2">
        <a class="nav-link" aria-current="page" href="accounts/logout">Sair</a>
    </li>
{% else %}
    <li class="nav-item col-3">
        <a class="nav-link" aria-current="page" href="/">Consultas</a>
    </li>
    <li class="nav-item col-2">
        <a class="nav-link" aria-current="page" href="/accounts/login">Entrar</a>
    </li>
    <li class="nav-item col-3">
        <a class="nav-link" aria-current="page" href="/accounts/">Registrar</a>
    </li>
    <li class="nav-item col-1">
        <a class="nav-link" aria-current="page" href="/about">Sobre</a>
    </li>
{% endif %}
{% endblock %}


{% block content %}
    <div class="area">
        <h1>Conteudo</h1>
    </div>
{% endblock %}