{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
{% if user.is_authenticated %}
    <div class="col-8">
        <button type="button" class="btn btn-secondary btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus"></i> Consulta</button>
    </div>
    <li class="nav-item col">
        <a class="nav-link" aria-current="page" href="accounts/logout">Sair</a>
    </li>
{% else %}
    <li class="nav-item col-1 offset-4">
        <a class="nav-link" aria-current="page" href="/accounts/login">Entrar</a>
    </li>
    <li class="nav-item col-1 offset-4">
        <a class="nav-link" aria-current="page" href="/accounts/">Registrar</a>
    </li>
{% endif %}
    <form method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nova consulta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" value="Nova Consulta">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="teste">
        <ul class="task-list">
            {% for consulta in consultas %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ consulta.concentra }}</h5>
                                    <a href="edit/{{ consulta.id }}" class="btn btn-secondary card-btn" data-bs-toggle="modal" data-bs-target="#editmodal"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="delete/{{ consulta.id }}" class="btn btn-secondary card-btn" ><i class="bi bi-x-circle-fill"></i></a>
                                    <div class="card-text">Temperatura - {{ consulta.temperatura }}</div>
                                    <div class="card-text">Densidade - {{ consulta.densidade }}</div>
                                    <div class="card-text text-muted">
                                        #{{ consulta.id }} - {{ consulta.created }} por {{ consulta.author }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>   
    </div>
    <ul>
        <div class="pagination">
            <span class="step-links">
                {% if consultas.has_previous %}
                    <a href="?page={{ consultas.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a>
                {% endif %}
                <span class="current">
                    {{ consultas.number }} de {{ consultas.paginator.num_pages }}
                </span>
                {% if consultas.has_next %}
                    <a href="?page={{ consultas.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a>
                {% endif %}
            </span>
        </div>
    </ul>
    <form method="POST">
        <div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editando consulta numero {{ consultaEdit.id }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" value="Editando Consulta">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}